.about {
    padding: 180px 0;
}
.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__img {
    width: 700px;
    height: 560px;
}
.about__content {
    max-width: 390px;
    width: 100%;
}
.about__title {
    font-weight: 700;
    font-size: 1.6em;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.about__heading {
    font-weight: 900;
    font-size: 4.6em;
    line-height: 130%;
    margin-bottom: 40px;
}
.about__desc-list {
    margin-bottom: 48px;
}
.about__desc-item {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 160%;
    color: #424551;
    display: flex;
    align-items: start;
    &::before {
        content: url(../../assets/img/check.svg);
        display: block;
        margin-right: 16px;
    }
    &:not(:last-child) {
        margin-bottom: 12px;
    }
}
@include breakpoint-down(1150px) {
    .about__img {
        width: 500px;
        height: auto;
    }
}
@include breakpoint-down(950px) {
    .about__img {
        width: 400px;
        height: auto;
        margin-right: 20px;
    }
}
@include breakpoint-down(750px) {
    .about {
        padding: 100px 0;
    }
    .about__img {
        width: 300px;
        height: auto;
        margin-right: 20px;
    }
    .about__desc-item {
        &:not(:last-child) {
            margin-bottom: 8px;
        } 
    }
    .about__desc-list {
        margin-bottom: 38px;
    }
    .about__heading {
        margin-bottom: 25px;
    }
}
@include breakpoint-down(550px) {
    .about {
        padding: 70px 0;
    }
    .about__container {
        flex-direction: column;
    }
    .about__img {
        margin-right: 0;
        margin-bottom: 30px;
    }
}